/* FONT FACE - font-display: fallback; */

/* VÍ DỤ - tuỳ chỉnh theo từng dự án*/

/* --------------------------- */
@font-face {
  font-family: "fmain";
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"),
    url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "pbe";
  src: url("../fonts/ProximaNovaA-Extrabld.woff2") format("woff2"),
    url("../fonts/ProximaNovaA-Extrabld.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "pb";
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2"),
    url("../fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

/* --------------------------- */
/* Font Three */
@font-face {
  font-family: "muli";
  src: url("../fonts/Muli-Regular.woff2") format("woff2"),
    url("../fonts/Muli-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "muli-bold";
  src: url("../fonts/Muli-ExtraBold.woff2") format("woff2"),
    url("../fonts/Muli-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "muli-bl";
  src: url("../fonts/Muli-Black.woff2") format("woff2"),
    url("../fonts/Muli-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "pfd";
  src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "pfd-bold";
  src: url("../fonts/PlayfairDisplay-Bold.woff") format("woff2"),
    url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "pfd-bl";
  src: url("../fonts/PlayfairDisplay-Black.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}
